<div class="container">
    <div class="row mt-3">
      <div class="col">
        <%= render 'layouts/errors', obj:@new_book %>
      </div>
    </div>

  <div class="row mt-3">
    <div class="col-md-3">

      <%= render 'users/info', user:@user %>
      <%= render 'template', new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%= render 'index', books:@books %>
      
    </div>
  </div>
</div>
